body  {
    background-image: url("bg.jpg");
    background-color: #cccccc;

}
.btn{
  margin: 1em 0em 0em .5em;
}
.text-center {
  text-align: center;
}

*{
  font-family: 'Open Sans', sans-serif;

}
pre{
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1em;
  margin: 1em;
}

.company {
  font-family: 'Stardos Stencil', cursive;
}
